body {background-color: lightblue; font-family: Arial, sans-serif;}
h1 {color: navy; text-align: center;}
h2 {color: navy; border-left: 5px solid white;}
image {width: 300px; border-radius: 15px; display :block; margin: 30px auto;
box-shadow: 0 6px 15px
rgba(0,0,0,0.3);
       transition: 0.3s;}
       img :hover {
            transform: scale(1.05);
       }
table {width: 100% ; border-collapse: collapse ;}
th, td { border: 1px solid black; padding: 10x; text-align: center;}
th {background-color: #333; color :white;}
tr :nth-child {background-color: #f2f2f2;}
tr :hover {background-color: blanchedalmond;}